tbody{
    width: 100%;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw !important;
}

.top-container{
    display: flex;
    justify-content: flex-end;
}


.form-error{
    color: red !important;
}